body {
	font-family: sans-serif;
	max-width: 960px;
	padding: 20px;
	margin: 0 auto;
	line-height: 1.6;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

a {
	text-decoration: none;
}

.main-header {
	font-size: 3em;
}

ul {
	padding: 0;
	margin: 0;
}

h2 {
	margin-top: 5px;
	margin-bottom: 5px;
}
